* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ed1a8f, #00d2ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #f9f75d;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #ed1a87;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
    transition: 1s;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -3.13rem;
    right: -3.75rem;
    width: 6.25rem;
    height: 6.25rem;
    transition: 1s;
}

.box .square:nth-child(2) {
    top: 9.38rem;
    left: -6.25rem;
    width: 7.5rem;
    height: 7.5rem;
    z-index: 2;
    transition: 1s;
}

.box .square:nth-child(3) {
    bottom: 3.13rem;
    right: -3.75rem;
    width: 5rem;
    height: 5rem;
    z-index: 2;
    transition: 1s;
}

.box .square:nth-child(4) {
    bottom: -5rem;
    left: 6.25rem;
    width: 3.13rem;
    height: 3.13rem;
    transition: 1s;
}

.box .square:nth-child(5) {
    top: -5rem;
    left: 8.75rem;
    width: 3.75rem;
    height: 3.75rem;
    transition: 1s;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: 1s;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input::placeholder {
    color: #fff;
}

.form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.forget {
    margin-top: 5px;
    color: #fff;
}

.forget a {
    color: #f9f75d;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 600px) {
    .container {
        width: min(400px, 100%);
    }
    form {
        width: 100%;
    }
    .box .square:nth-child(1) {
        top: -1.57rem;
        right: -1rem;
        width: 3.13rem;
        height: 3.13rem;
    }
    .box .square:nth-child(2) {
        top: 4.70rem;
        left: -1.13rem;
        width: 2.75rem;
        height: 3.75rem;
    }
    .box .square:nth-child(3) {
        bottom: 1.57rem;
        right: -1rem;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 2;
    }
    .box .square:nth-child(4) {
        bottom: -2.5rem;
        left: 3.13rem;
        width: 1.57rem;
        height: 1.57rem;
    }
    .box .square:nth-child(5) {
        top: -2.5rem;
        left: 4.38rem;
        width: 1.88rem;
        height: 1.88rem;
    }
}